img {
    border-radius:8px;
    max-width: 100%;
    height: auto;
}
a.latnivalo {
    float: left;
    margin-left: 250px;
    margin-top: 30px;
    font-weight: bold;
}
a.foldrajz {
    float: left;
    margin-left: 550px;
    margin-top: 30px;
    font-weight: bold;
}
h1 {
    text-align: center;
}
.my-4 {
    text-align: center;
}
p {
    margin-left: 15px;
}
p.tuszkana {
    text-align: center;
    font-weight: bold;

}
p.tuszkana1 {
    text-align: left;
    font-weight: bold;
}
h4 {
    margin-left: 20px;
    font-weight: bold;
}