img {
    border-radius:8px;
    max-width: 100%;
    height: auto;
}
h1 {
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 6px;
}
.my-4 {
    text-align: center;
}
p {
    margin-left: 15px;
}
p.tuszkana {
    text-align: center;
    font-weight: bold;

}
p.tuszkana1 {
    text-align: left;
    font-weight: bold;
}
h4 {
    margin-left: 20px;
    font-weight: bold;
}
body  {
    background-image: url("images/toszkana_utazas.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    
  }
p.kek {
    margin-top: 30px;
    color:cyan;
}
p {
    color: cyan;
    text-shadow: 4px 4px 6px;
}
h2 {
    font-weight: bold;
    color: Green;
    text-shadow: 4px 4px 6px;
}
p.piros {
    color:cyan;
    text-shadow: 4px 4px 6px;
}