h1 {
    text-align: center;
    font-weight: bold;
}
.my-4 {
    text-align: center;
}
p {
    margin-left: 15px;
}
p.tuszkana {
    text-align: center;
    font-weight: bold;

}
p.tuszkana1 {
    text-align: left;
    font-weight: bold;
}
h4 {
    margin-left: 20px;
    font-weight: bold;
}
body  {
    background-color: lightgray;
    background-size: auto;
    background-repeat: no-repeat;
}